
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
  </section>
  <section class="about">
    <h1>About Nabestagram</h1>
    <p>
    </p>
    <p>
    </p>
  </section>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
